apiVersion: apps/v1
kind: Deployment
# metadata section
metadata:
  name: nginx-deployment
  labels:
    app: nginx
# specification section
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          env:
            - name: SOME_ENV
              value: $SOME_ENV
          ports:
            - containerPort: 8080